<p>Grazie la tua prenotazione è stata effettuata.<br>
Presto riceverai conferma via email.<br></p>
<br>
<%= "L'azione ha prodotto il seguente messaggio: #{@message}" %><br>
<h3>Registrato la richiesta:</h3>
<%= "#{@booking.first_name} #{@booking.last_name}" %><br>
<%= "Richiesta di ritiro il giorno: #{@booking.official_event.strftime('%Y-%m-%d')}" %>
<%= "alle: #{@booking.official_event.strftime('%H:%M:%S')}" %>
<br>
<%= 'Con accompagnamento' if @booking.accompaniment? %>